manifest {
        mainScript = 'main.nf'
        description = 'Pipeline for testing database detachment'
}

// Adapt queue entries below to match your infrastructure. If unsure, simply comment them with '//'
// More details at: https://www.nextflow.io/docs/latest/config.html


plugins {
  id 'nf-sqldb@0.2.0'
}

process.container = "ubuntu:20.04"
singularity.enabled = true
// Location where Singularity images are cached. baseDir refers to the location from where the pipeline is executed
singularity.cacheDir = "$baseDir/singularity"
