// Uncomment or modify the parameters below to fit your dataset and setup choices
params {
 dbengine = "mysql"
 // Database name. If it does not exist, if the user has enough permissions it will be created
 dbname = "mydb"
 // Database user name
 dbuser = "test"
 // Database user password
 dbpass = "test"
 // Port of the MySQL engine (3306 default)
 dbport = 12345
 // The host where the MySQL engine is located. Skip it if using the MySQL wrapper
 dbhost = 0.0.0.0
 // If using the wrapper below, where MySQL data will be stored
 mysqldata = "${baseDir}/mysql/"
 // If using the wrapper below, where MySQL instance logs will be stored
 mysqllog = "${baseDir}/tmp/"
 // If using the wrapper below, which Singularity/Docker image will be used
 mysqlimg = "https://biocore.crg.eu/singularity/mariadb-10.3.sif"
}
